@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(186, 181, 175);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

main {
    text-align: center;
}

.starting {
    background-color: white;
    padding-top: 300px;
    padding-bottom: 15%;
}

.headtext {
    /* font-size: x-large; */
    margin-top: 0%;
}

#header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0%;
    padding: 0%;
    background-color: rgb(252, 249, 249);
    /* padding: 0px 20px; */
}

#nav-bar {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    /* margin:; */
    width: 100%;
    opacity: 100%;
    margin: 0%;
    /* align-items: center; */
}

#header-img {
    width: 2%;
    height: 2%;
}

.logotext {
    font-family: cursive;
    font-size: x-large;
}

.nav-link {
    position: relative;
    bottom: 10px;
    text-decoration: none;
    padding: 14px 25px;
    line-height: 0px;
    font-family: sans-serif;
    left: 58%;
    color: red;
    /* margin-top: 2px; */
    /* background-color: green; */
}

.nav-link:hover {
    color: black;
    font-size: larger;
}

.vbg {
    top: 80%;
    position: absolute;
    width: 100%;
    height: 110%;
    /* left: 60%; */
    /* height: 150%; */
    left: 0;
    z-index: -1;
    opacity: 80%;
}

#submit {
    background-color: rgb(255, 204, 0);
    border: 0;
    margin-top: 1%;
    border-radius: 10px;
}

#video {
    border-radius: 5%;
    margin-top: 4%;
    padding-bottom: 5%;
    padding-right: 10%;
}

#submit:hover {
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
}


/* #pricing {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

ol {
    list-style: none;
    padding: 0;
    margin: 0;
}


.product {
    text-align: center;
    width: 18%;
    margin-top: 2%;
    border: 1px solid black;
    background-color: white;
}

.btn {
    background-color: rgb(255, 204, 0);
    border: 0;
    margin-top: 3%;
    width: 25%;
    height: 25px;
}

.btn:hover {
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    box-shadow: 5px 5px 5px #eee;
    text-shadow: none;
} */

.trans {
    background-color: white;
}

.Types {
    padding-top: 0%;
    padding-bottom: 3.5%;
    /* background-color: #eee; */
    /* background-color: rgb(252, 249, 249); */
    /* height: 700px; */
}

.bg {
    /* z-index: 2; */
    width: 100%;
    height: 124%;
    position: absolute;
    z-index: -1;
    left: 0;
}

.t {
    padding-top: 3.5%;
    margin: auto;
    width: 60%;
}

.tromo1 {
    width: 24%;
    height: 24%;
    border-radius: 50%;
    float: right;
    margin-left: 2.5%;
}

.type-text1 {
    text-align: right;
    height: 20%;
}

.tromo2 {
    width: 24%;
    height: 24%;
    border-radius: 50%;
    float: left;
    margin-right: 2.5%;
}

.type-text2 {
    text-align: left;
}

.tromo3 {
    width: 24%;
    height: 24%;
    border-radius: 50%;
    float: right;
    margin-left: 2.5%;
}

.type-text3 {
    text-align: right;
}

.level {
    padding-top: 2%;
    height: 25px;
    background-color: rgb(255, 204, 0);
}

.sp {
    font-size: larger;
    text-decoration: solid;
    font-weight: bold;
    /* padding-left: 9; */
    /* text-shadow: rgb(122, 60, 60); */
}

.h {
    /* padding-top: 3%; */
    margin-top: 7%;
}

.f {
    /* margin-top: 2%; */
    margin-bottom: 0%;
    padding: 0;
    text-align: right;
    background-color: rgb(185, 185, 185);
}

.fp {
    display: inline-block;
    margin: 1%;
}
